
body {
  background: url('../images/justicia.jpg') center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: 'Poppins', sans-serif;
  color: white;
  height: v-100;
}

.header-content h1 {
  color: white;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 700;
  margin-top: 50px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}
.header-content h3 {
  color: white;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
}
.header-content img{
  width: 200px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin: 0 auto;
}
.log {
  color:#03658C;
}
.active{
  border-bottom: .25rem solid white;
}
.nav-item :hover{
  border-bottom: .25rem solid white;
}
.form-control {
  background: transparent;
  border: 1px solid #03658C;
  color: aliceblue;
}
.form-control placeholder {
  color: aliceblue;
}
.text-muted {
  color: aliceblue !important;
}
.btn-primary-header {
  color: #fff;
  background-color: #375D81;
  border-color: #375D81;
  padding: 1rem 4.75rem;
}
.btn-primary-header:hover {
  color: #fff;
  background-color:#012840;
  border-color: #03658C;
}
.btn-primary {
  color: #fff;
  background-color: #375D81;
  border-color: #375D81;
}
.btn-primary:hover {
  color: #fff;
  background-color:#012840;
  border-color: #012840;
}
.logo {
  padding: 10px;
}
footer{
  color: #fff;
  background-color: #375D81;
  opacity: .9;
}
footer .container {
  padding:20px;
}
.navbar {
  background-color:#375D81;
  opacity: .9;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color:white;
}
a {
  color: azure;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}
.card {
  opacity: 0.8;
  margin-top: 50px;
  color: #012840;
}
.navbar-brand {
  width: 200px;
}
.faq a {
  color:#012840;
  text-decoration: none;
}
.faq a:hover {
  color:#03658C;
  text-decoration: none;;
}
small {
  font-weight: 100;
}
.text-grey {
  color: grey;
}
.modal {
  color: #012840;
}
.modal a {
  color: #012840;
}
.modal a:hover{
  color: #03658C;
}
.modal-footer a {
  color: white;
}
.contrasena.card{
  background-color: rgb(226, 226, 226);
  opacity: 0;
}
.contrasena.card,.card-footer {
  background-color: #012840;
  color: white;
}
@media (min-width: 576px) {
  .card {
    margin-top: 25px ;
  }
}
@media (min-width: 768px) {
  .card {
    margin-top: 25px;
  }
}